<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Expériences de travail et éducation</h2>

  <div class="spacer-60"></div>

  <div class="row">
    <div class="col-md-6">
      <!-- timeline wrapper -->
      <div class="timeline edu rounded bg-white shadow-dark padding-30 overflow-hidden">
        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2024</span>
            <h3 class="title">Baccalauréat en Sciences Informatiques</h3>
            <p>Développement de jeux et de divers projet informatiques durant mes études tel que <a href="https://lesvilsmonsieur.github.io/TheBeastOfHamshire/">The Beast of Hamshire</a>.</p>
          </div>
        </div>


        <!-- timeline item -->    
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2023</span>
            <h3 class="title">Certification en CyberSécurité (ISC)²</h3>
            <p>Suivre la <em>Online Self-Paced Training Certification </em>de (ISC)².</p>
          </div>
        </div>




        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2018</span>
            <h3 class="title">Maîtrise en Histoire</h3>
            <p>Occuper des postes d'enseignements au collégial, à l'université et au para-universitaire.</p>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time">2014</span>
            <h3 class="title">Baccalauréat en Histoire</h3>
            <p>Occuper des postes de vulgarisation historiques dans divers organismes tout le long de mes études.</p>
          </div>
        </div>

        <!-- main line -->
        <span class="line"></span>
      </div>
    </div>

    <div class="col-md-6">
      <!-- responsive spacer -->
      <div class="spacer-30 d-md-none d-lg-none"></div>

      <!-- timeline wrapper -->
      <div class="timeline exp bg-white shadow-dark rounded padding-30 overflow-hidden">
        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2023 (stage hiver)</span>
            <h3 class="title">Analyste d'affaire à la Ville de Sherbrooke</h3>
            <p>Refonte des méthodes de travail et optimisation de l’utilisation de l’outil Azure DevOps et redéfinir les politiques d’accessibilité web pour le projet Contact-Citoyen.  </p>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2022 (stage été)</span>
            <h3 class="title">Analyste-Programmeur à la Ville de Sherbrooke</h3>
            <p>Développer une application web visant à réunir les services municipaux et à faciliter l’accès aux citoyens à ces services. </p>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time">2017-2019</span>
            <h3 class="title">Chargé de cours en Histoire</h3>
            <p>Vulgariser et expliquer des évènements d’actualités à l’aide de notions historiques
              et utiliser la conception universelle de l’apprentissage (CUA) pour s’assurer de l’apprentissage de chacun.
              </p>
          </div>
        </div>

        <!-- main line -->
        <span class="line"></span>
      </div>
    </div>
  </div>
</div>
